# Gradle
.gradle/
build/
*/build/
gradle/wrapper/gradle-wrapper.jar

# Android
*.apk
*.aab
*.ap_
*.dex
local.properties
.cxx/
captures/

# Binários grandes (opcional, mas recomendado)
*.so
*.a
*.o

# IDE
.idea/
*.iml
.vscode/

# Sistema
.DS_Store
Thumbs.db
